function dateFormat(date, format){
  var time = getDate(date)
  var rep = getRegExp("([yMdhmsqS])+", "g")
  var map = {
    M: time.getMonth() + 1,
    d: time.getDay(),
    h: time.getHours(),
    m: time.getMinutes(),
    s: time.getSeconds()
  }
  format = format.replace(rep, function (all, t) {
    var v = map[t] + ''
    v = v.length === 1 ? "0" + v : v.substring(0, 2)
    if (t === 'y') {
      var year = time.getFullYear() + ''
      return year.substring(0, 4)
    }
    return v
  })

  return format
}

function monthFormat(date){
  // 获取当前月份
  // 获取当前day
  // 对比 返回时间 是不是 大于等于7
  // 是的话就 return xxx
  var dateMonth = date.toString().substring(0,2)
  var dateDay = date.toString().substring(2,4)

  if (dateMonth[0] === "0") { dateMonth = dateMonth[1] }
  if (dateDay[0] === "0") { dateDay = dateDay[1] }
  return dateMonth + "月" + dateMonth + "日"
}

module.exports = { dateFormat: dateFormat, monthFormat: monthFormat }